.app {
  background: #f3f7fa;
  padding: 0 20px 20px;
  box-sizing: border-box;
  min-height: 100vh;
}
.app__header {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__main {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.app__column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 502px;
}

.app__tickets-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
